body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 20px auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    text-align: center;
    width: 500px;
    height: 400px;
    margin-top: 0px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;

}

p {
    font-size: 18px;
    margin: 10px 0;
}

h1 {
    text-align: center;
    margin-top: 80px;
}

